@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
    margin: 0;
    padding: 0;
    /* filter: inve rt(100%); */
    
}
/* utilities */

body{

   background-color: white;
    background-size: cover;
    font-family: 'Alata', sans-serif;
}
.navbar img{
    margin: 23px 25px;
    
  
}
.fullnav{
    display: flex;
    width: 100%;
    background-size: auto;
  /* background-blend-mode: darken; */
    position: sticky;
  
  
}
.navbar{
    display:flex ;
    width: 80%;
}
.navbar .navitem{
    display: flex;
    list-style: none;
}
.navbar .item{
    /* margin:  4px 4px; */
    /* border: 2px solid red; */
    padding: 38px 14px;
}
.navbar .item a{
    border: #00000026 1px solid;
    text-decoration: none;
    /* font-size: 20px; */
    padding: 6px 8px;
    border-radius: 10px;
    color: black;
    background-color: white;
    
}
.navbar .item a:hover{
    background-color:#00000026 ;
    
}
.searchBox{
    width: 50%;
    text-align: right;
    /* border: red 2px solid; */
   
}
.searchcontainer{
    margin: 0px 0px;
    padding: 20px 6px;
}
.searchcontainer .inputbox,.btn{
    font-family: 'Alata', sans-serif;
    padding: 9px 18px;
    margin: 2px 2px;
}


/* end of navbar */


.sec{

    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid red; */
    height: 100%
    width: 100%;
    text-align: center;  
    /* background: url(bg2.jpg);  */
    background-size: cover;
}


.scontainer img{
    border-radius: 142px;
}
.fcontainer{
    padding: 3px 99px;
    margin: 3px 3px;
}
.para{
    
    margin: 3px 200px;
}

/* ---------- */

.editors{
    margin-top: 5%;
   margin-left: 13%;
    width: 75%;
    display: flex;
    flex-direction: column;
   
    /* border: 2px solid rebeccapurple; */
}
.full{
    justify-content: center;
    display: flex;
    /* border: 2px solid red; */
    padding: 20px;
    
}
.full p{
    padding: 3px 3px;
    margin: 47px 86px;
    /* background-color: gray; */
    
    color: black;
    border-radius: 10px;
    text-align: center;
    /* vertical-align: middle; */
  
}


}
.one{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
  align-items: center;
  /* justify-content: center; */
}
.rev{
    flex-direction: row-reverse;
}
.full img{
    border-radius: 100px;
}
.full h2{
    text-align: center;
}
.companies{
   
    display: flex;
    align-items: center;
    margin-top: 10px;
    /* background-color: rgba(128, 128, 128, 0.425); */
    border-radius: 40px;
}
.box1 img{
    width: 150px;
}
.box1{
    align-items:center;
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    /* background-color: blue; */
}
.box1 p{
    padding: 0px 0px;
    margin: 30px 40px;
    /* background-color: cadetblue; */
}
.center{
     text-align: center;
     font-size: 70px;
}
.footer{
    margin:10px;
    padding: 10px;
    background-color: gray;
    padding: 20px 0px;
    border-radius:20px ;
}

.footer-container{
    display: block;
    right: 100px;
    /* border:2px solid red; */
    display: inline-block;
    right: 150px;
    margin: 0px 100px;
}
.footer-container img{
    cursor: pointer;
    width:40px;
    padding: 0px 0px;
    margin: 10px;
    /* border-radius: 10px; */
}
.slogan{
    font-size: 80px;
    margin-bottom: 50px;
}
.phcontainer{
    font-size:20px ;
    margin-bottom: 50px;
}
.website{
    margin: 5px 5px;
}
/* @media (max-width:1000px)
{
    body{
        background-color: greenyellow;
    }
} */